.p-blog.Link54 a,.p-blog.Link55 a,.p-blog.Link56 a,.p-blog.Link57 a,
.p-blog.Link58 a,.p-blog.Link59 a,.p-blog.Link60 a,.p-blog.Link61 a,.p-blog.Link62 a{
    text-decoration: none;
    color: white;
}
.p-blog.Link48 a,.p-blog.Link49 a,.p-blog.Link50 a,.p-blog.Link51 a,.p-blog.Link52 a{
    text-decoration: none;
    color: black;
}
.p-blog.TextBox196,.p-blog.TextBox185,.p-blog.TextBox187,.p-blog.TextBox189,.p-blog.TextBox191,.p-blog.TextBox192{
    display: inline;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    -webkit-background-clip: text;
}