.p-projects.TextBox172,.p-projects.TextBox160,.p-projects.TextBox162,.p-projects.TextBox165,.p-projects.TextBox167,.p-projects.TextBox169{
    display: inline;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    -webkit-background-clip: text;
}
.p-projects.Link39 a,.p-projects.Link40 a,.p-projects.Link41 a,.p-projects.Link42 a,
.p-projects.Link43 a,.p-projects.Link45 a,.p-projects.Link46 a,.p-projects.Link47 a,.p-projects.Link44 a{
    text-decoration: none;
    color: white;
}
.p-projects.Link32 a,.p-projects.Link33 a,.p-projects.Link34 a,.p-projects.Link35 a,.p-projects.Link36 a{
    text-decoration: none;
    color: black;
}